*{
    margin: 0;
    padding: 0;
}
.uno{
    background-color: blueviolet;
    padding: 30px;
    margin-right: 40px;
    margin-left: 40px;
}
.dos{
    background-color: chartreuse;
    margin-right: 10%;
    margin-left: 10%;
    border: 2px solid darkblue;
}